# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment files
.env
.env.local
.env.production
.env.development

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Flask instance folder (if used)
instance/

# Logs
*.log

# Static temporary files
static/images/*.tmp
